BODY {
	color:#8f8f8f;
	font-family: calibri;
	background-color:#ebebeb;
	background-repeat:no-repeat;
	padding: 0px;
	overflow: hidden;
	margin: 0px;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#top{
	background-color:#ebebeb;
	padding: 14px;
	width: 100%;
}

/* Min Window */
#min-button {
	margin:0px;
	color:#232323;
	background-color:rgba(239,239,239,.9);
	border-radius:4px;
	border:1px solid #D0D0D0;
	overflow:hidden;
	width:30px;
}
#min-button label {
    width:30px;
}
#min-button label span {
    text-align:center;
    padding:3px 0px;
    display:block;
	color:#808080;
	font-family:"Calibri";
	font-size: 24px;
	cursor: pointer;
}
#min-button label input {
    display: none;
}
#min-button input:checked + span {
    background-color: #6A8191;
    color:rgba(244,244,244,.8);
}

/* Input Text */
#styled input {
	background: transparent;
	width: 100%;

	/* margin-top: 30px;*/
	text-align: center;
	font-size: 36px;

	border: 1px solid #ccc;
	-webkit-appearance: none;
	cursor: pointer;
}

/* Main Button */
#ck-buttons {
	color:#232323;
	
	background-image: url(img/split.png);
	background-repeat:no-repeat;
	background-position:center; 
	
	
	background-color:rgba(239,239,239,.9);
	border-radius:10px;
	border:1px solid #D0D0D0;
	overflow:hidden;
	
	height:65px;
	margin:10px;
}
#ck-buttons label {
	float:left;
	width:100%;
	height:65px;
}
#ck-buttons label span {
	text-align:center;
	padding:3px 0px;
	display:block;
	color:#808080;
	font-family:"Calibri";
	font-size: 30px;
	cursor: pointer;
	
	height:65px;
}
#ck-buttons label input {
	display: none;
}
#ck-buttons input:checked + span {
	background-image: url(img/split.png);
	background-repeat:no-repeat;
	background-position:center; 
	background-color: #57D8B2;
	color:#ebebeb;
	height:65px;
}

#footer { 
position:fixed;
bottom:0px;
width: 100%;
height: 90px; 
background-color:#ebebeb;
}